<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-family: "Calibri";
        }
    </style>
</head>
<body>
<table style="margin: 0 auto">
    <tbody>
    <tr>
        <td style="text-align: center">
            <div>
                <h1>PSDOWeb</h1>
                <h2>Un client viens de vous envoyez un formulaire</h2>
            </div>
        </td>
    </tr>
    <!--    Section 1-->
    <tr>
        <td style="text-align: center;color: red"><h3>Email</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{email}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Numéro de téléphone</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{phone}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Comment a t'il découvert notre service ?</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{discover_service}}</td>
    </tr>
    <!--    Section 2-->
    <tr>
        <td style="text-align: center;color: red"><h3>Type de projet</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{project_type}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Description de son projet</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{project_desc}}</td>
    </tr>
    <!--    Section 3-->
    <tr>
        <td style="text-align: center;color: red"><h3>Couleurs préférées du client</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{fav_color}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Les sources d'inspiration du client</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{inspiration}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Le client a t'il déjà un logo</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{already_logo}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Le client utilise t'il les réseaux sociaux pour son activité ?</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{using_socialmedia}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Les motivation du client a l'idée de créer un site web</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{motivation}}</td>
    </tr>
    <!--    Section 4-->
    <tr>
        <td style="text-align: center;color: red"><h3>Le client dispose t'il déjà d'un site web ?</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{already_website}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Le lien vers son site web</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{link_website}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Les besoins spécifiques du client</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{specification_needed}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Le budget éstimé pour la réalisation du projet</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{estimated_budget}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>Le client a t'il défini une date d'échéance pour le projet</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{due_date}}</td>
    </tr>
    <tr>
        <td style="text-align: center;color: red"><h3>La date d'échéance</h3></td>
    </tr>
    <tr>
        <td style="text-align: center">{{due_date_needed}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>